# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]

RewriteCond %{HTTP_HOST} ^asciiarena\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.asciiarena.com/$1 [R,L]

RewriteCond %{HTTP_HOST} ^asciiarena\.se [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.asciiarena.se/$1 [R,L]
