RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
#<Files .*>
#	Order Deny,Allow
#	Deny From All
#</Files>

# Allow any files or directories that exist to be displayed directly
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
#RewriteRule .* index.php/$0 [PT,L]


RewriteRule "^crew/([^/]+)/?$" /info_crew.php?crew=$1 [L,QSA]
RewriteRule "^artist/([^/]+)/?$" /info_artist.php?artist=$1 [L,QSA]
RewriteRule "^member/([^/]+)/?$" /members.php?member=$1 [L,QSA]
RewriteRule "^release/([^/]+)/?$" /info_release.php?filename=$1 [L,QSA,B]
RewriteRule "^application/([^/]+)/?$" /info_apps.php?filename=$1 [L,QSA,B]
RewriteRule "^magazine/([^/]+)/?$" /info_mags.php?filename=$1 [L,QSA,B]

#uhc search and collections are except from http redirect
RewriteCond %{REQUEST_URI} [\/]?uhcsearch\.php [OR]
RewriteCond %{REQUEST_URI} [\/]?collections\/
RewriteRule ^(.*)$ - [L]

RewriteCond %{HTTPS} !=on
# If we receive a forwarded http request from a proxy...
RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]

# ...or just a plain old http request directly from the client
RewriteCond %{HTTP:X-Forwarded-Proto} =""

# Redirect to https version
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Header always set Content-Security-Policy "upgrade-insecure-requests;"

Options FollowSymLinks MultiViews




