/*
    Controls
*/
.fig-chardropdown {
    width:320px;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


.fig-txt {
    height: 497px;
    width: 100%;
    box-sizing: border-box;
}
.fig-pad {
    margin-bottom:16px;
}

.fig-data-txt {
    width:100%;
    height:200px;
    margin: 0;
    padding: 0;
}

.fig-font {
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
}

.fig-icon {
    font-size: 1.5em;
}

.txt-single-input {
    width:100%;
    margin: 0;
    padding: 0;
}

.fig-draw-label {
    margin: 0;
    padding: 0;
}

#myTab li {
    margin-right: 16px;
}

.fig-error {
    color: #ff0000;
    font-weight:bold;
}

/*
    Options
*/

.fig-opt-entry {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.fig-opt-label {
    margin: 0;
    padding: 0;
    width:150px;
    text-align:right;
}

.fig-opt {
    float:left;
}

.fig-opt-info {
    float:left;
    margin: 0;
    padding: 0;
}

.fig-opt-info2 {
    float:left;
    margin: 0;
    padding: 0;
}

/*
    Test
*/

.fig-test-txt {
    width:100%;
    box-sizing:border-box;
}

.fig-test-output {
    font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
    background-color: #1a1a1a;
    border: none;
    margin: 0;
    padding: 0;
    min-height:200px;
    width:100%;
    box-sizing:border-box;
    white-space:pre;
    overflow:auto;
}


.fontbtn {
 color:#000;
/* border-color:#000; */
 background-color:#bbb;
 width: 24px !important;
 margin-left:  0px !important;
 margin-bottom:  8px !important;
 margin-right: 8px !important;
 margin-top:  0px !important;
 padding-top: 16px !important;
 padding-bottom:  16px;
 padding-left: 8px;
/* border:.875px solid #000; */
/* margin-top:8px; */
/* padding-top:8px; */
/* padding-bottom:8px; */
/* margin-bottom:8px; */
/* border-left-width:2px;
 border-right-width:2px; */
/* margin-left:3.5px;
 padding-left:10.5px;
 padding-right:11.5px;
 margin-right:2.5px; */
/* box-shadow:-3.5px -7px 0 0 #bbb,2.5px 6.125px 0 0 #bbb,-3.5px 6.125px 0 0 #bbb,2.5px -7px 0 0 #bbb;
 -webkit-filter:drop-shadow(7px 8px 0 #222);
 filter:drop-shadow(7px 8px 0 #222); */
/*  margin-top:20px; */
/* margin-right:8px; */
/* margin-bottom:20px; */
}

.fontbtn:hover {
/*  box-shadow:-3.5px -7px 0 0 #555,2.5px 6.125px 0 0 #555,-3.5px 6.125px 0 0 #555,2.5px -7px 0 0 #555; */
 color:#fff;
 border-color:#fff;
 background-color:#555

}

.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
    margin-bottom: 0;
    display: inline-flex;
    min-height: 48px;
}

label.btn{
    display: inline-flex;
}

label.btn.btn-lg.fontbtn:active{
    background: #999 !important;
    width: 8px;
}

label.btn.btn-lg.fontbtn:focus{
    background: red !important;
    width: 8px;
}

label.btn.btn-lg.fontbtn:focus-within{
    background-color:#555;
    color:  white;
    width: 8px;
}
