@font-face {
  font-family: 'MicroKnight';
  src: url("../fonts/MicroKnight.ttf");
  src: local("☺"), url("../fonts/MicroKnight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'MicroKnightPlus';
  src: url("../fonts/MicroKnightPlus.ttf");
  src: local("☺"), url("../fonts/MicroKnightPlus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'mOsOul';
  src: url("../fonts/mOsOul.ttf");
  src: local("☺"), url("../fonts/mOsOul.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'P0T-NOoDLE';
  src: url("../fonts/P0T-NOoDLE.ttf");
  src: local("☺"), url("../fonts/P0T-NOoDLE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'Topaz_a500';
  src: url("../fonts/Topaz_a500.ttf");
  src: local("☺"), url("../fonts/Topaz_a500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'Topaz_a1200';
  src: url("../fonts/Topaz_a1200.ttf");
  src: local("☺"), url("../fonts/Topaz_a1200.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'TopazPlus_a500';
  src: url("../fonts/TopazPlus_a500.ttf");
  src: local("☺"), url("../fonts/TopazPlus_a500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

@font-face {
  font-family: 'TopazPlus_a1200';
  src: url("../fonts/TopazPlus_a1200.ttf");
  src: local("☺"), url("../fonts/TopazPlus_a1200.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  -webkit-font-kerning: none;
  font-kerning: none;
  font-synthesis: none;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-variant-numeric: tabular-nums;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
}

.myanim{
 -webkit-animation: shifter 5s linear infinite;
 -moz-animation: shifter 5s linear infinite;
 -ms-animation: shifter 5s linear infinite;
 animation: shifter 5s linear infinite;
}

* {
  cursor:url(../data/mousepointer.png), auto !important;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: none !important;
  font-smoothing: none !important;
}


body {
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.70);
  text-align: left;
  background-color: #111111;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: none !important;
  font-smoothing: none !important;
  padding-bottom: 32px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 16px !important;
  margin:0 !important;
  padding:0 !important;
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-size: 16px;
  line-height: 16px;
  margin: 0px;
  text-indent: 0px;
  background: #0aa;
  padding: 0px;
  color: #ffffff;
  text-align: center;
  animation: textglowwhite 2s infinite;
}

h3, .h3 {
  font-size: 16px;
  line-height: 16px;
  padding: 0 0;
}

h4, .h4 {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0px 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

h5, h6,
.h5, .h6 {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  background: transparent;
  padding: 0;
  color: white;
  text-indent: 0;
}

h5, .h5 {
  -webkit-animation: blinkingText 1.2s infinite;
  animation: blinkingText 1.2s infinite;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 16px;
  text-indent: 0px;
  padding: 0px 0px;
}


.lead {
  font-size: 16px;
  line-height: 20px;
}

.blockquote {
  margin-bottom: 0px 10px;
  font-size: 16px;
}

.blockquote-footer {
  display: block;
  font-size: 16px;
  color: #bbb;
}

legend {
  padding: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 16px;
}

.invalid-feedback {
  font-size: 16px;
}

.display-1 {
  font-size: 16px;
  line-height: 16px;
}

.display-2 {
  font-size: 16px;
  line-height: 16px;
}

.display-3 {
  font-size: 16px;
  line-height: 16px;
}

.display-4 {
  font-size: 16px;
  line-height: 16px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border-top: 0 solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
  line-height: 16px;
}

.col-form-label {
  font-size: 16px;
  line-height: 16px;
}

.col-form-label-lg {
  font-size: 16px;
  line-height: 16px;
}

.col-form-label-sm {
  font-size: 16px;
  line-height: 16px;
}

.form-control-plaintext {
  font-size: 16px;
  line-height: 16px;
}

.form-control-sm {
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.form-control-lg {
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.valid-tooltip {
  font-size: 16px;
  line-height: 16px;
}

.invalid-tooltip {
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(255, 85, 85, 0.9);
}

.input-group-text {
  font-size: 16px;
  line-height: 16px;
}

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
  height: 16px;
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  font-size: 16px;
  line-height: 16px;
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
  height: 16px;
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  font-size: 16px;
  line-height: 16px;
}

.custom-control {
  min-height: 16px;
  padding-left: 0px;
}

.custom-select {
  height: 16px;
  padding: 0 0 0 0;
  font-size: 16px;
  line-height: 16px;
}

.custom-file-label {
  height: 16px;
  line-height: 16px;
}

.custom-file-label::after {
  height: 16px;
  line-height: 16px;
}

.navbar-brand {
  margin-right: 16px;
  font-size: 16px;
}

.page-link {
  line-height: 16px;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  line-height: 16px;
}

.pagination-sm .page-link {
  padding: 0 12.4px;
  font-size: 16px;
  line-height: 16px;
}

.badge {
  padding: 0 16px;
  font-size: 16px;
  line-height: 1;
}

.close {
  font-size: 16px;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}


.tooltip {
  line-height: 16px;
  font-size: 16px;
}

.popover {
  line-height: 16px;
  font-size: 16px;
}

html {
	font-family: 'TopazPlus_a1200';
  line-height: 16px;
  line-height-step: 16px;
  color: #fff;
}


input, optgroup, textarea {
  color: #ededed !important;
  font-family: 'TopazPlus_a1200' !important;
  font-size: 16px;
  background: #444444 !important;
  border: 0px;
  resize: none;
  color: #bbbbbb;
}

button:active, select:active{
    border: 0;
    max-height: 16px;
    min-height: 16px;
    color: #999999 !important;
}

button:active, select:active{
  border: 0;
  max-height: 16px;
  min-height: 16px;
  color: #999999 !important;
}

button, select{
  border: 0;
  max-height: 16px;
  min-height: 16px;
  border: 0 !important;
  white-space: pre;
  color: #999999 !important;
}

input, optgroup {
  border: 0;
  max-height: 16px;
  min-height: 16px;
  border: 0 !important;
  white-space: pre;
  color: #bbbbbb !important;
}

input:active, optgroup:active {
  border: 0;
  max-height: 16px;
  min-height: 16px;
  color: #bbbbbb !important;
}

input:hover, optgroup:hover {
  font-family: 'TopazPlus_a1200' !important;
  font-size: 16px;
  background: #444444 !important;
  color: #bbbbbb !important;
}

input:active, optgroup:active {
    border: 0;
    max-height: 16px;
    min-height: 16px;
    color: #bbbbbb !important;
}



select {
  color: #ffffff !important;
  font-family: 'TopazPlus_a1200' !important;
  font-size: 16px;
  background: #444444 !important;
}

select:hover {
  color: #000000 !important;
  font-family: 'TopazPlus_a1200' !important;
  font-size: 16px;
  background: #999999 !important;
}


button, select{
  margin: 0;
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace !important;
  line-height: 16px;
  font-size: 16px;
}

input, optgroup, textarea {
  margin: 0;
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace !important;
  line-height: 16px;
  font-size: 16px;
}

.btn-primary {
  color: #bbbbbb !important;
  background-color: #444444;
  margin-left: 0px !important;
  margin-right: 8px !important; 
  width: 132px; 
  text-align: center;
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
}

.btn-primary:hover {
  color: #000000 !important;
  background-color: #999999 !important;
  margin-left: 0px !important;
  margin-right: 8px !important; 
  width: 132px; 
  text-align: center;
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
}

pre,
code,
kbd,
samp {
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 16px;
  margin: 0px;
}

pre code {
  font-size: 16px;
  margin: 0px !important;

}
pre{
  margin: 0 !important;
  padding: 0 !important;
  color: #999999;
}

pre.wall{
  color: rgb(0, 187, 187) !important;
  text-shadow: 1px 1px 10px rgba(0, 187, 187, 0.50), 1px 1px 20px #000 !important;
}
pre.fig{
  color: #999999;
}

.valid-feedback {
  font-size: 16px;
}

.form-control {
  height: 16px;
}

option {
  margin: 0;
  padding: 0;
  height: 16px;
}

.form-inline .form-control {
  background: blue;
}

.bg-black
{   
  background: #000000;
}

.bg-blue
{   
  background: rgb(0, 0, 170);
}

.bg-green
{    
  background: rgb(0, 170, 0);
}

.bg-cyan
{   
  background: rgb(0, 187, 187) !important;
}

.bg-red
{   
  background: #aa0000;
}

.bg-magenta
{   
  background: #bb00bb;
}

.bg-pink
{   
  background: #bb00bb;
}

.bg-brown
{   
  background: #aa5500;
}

.bg-grey
{   
  background: rgb(85, 85, 85);
}         

.bg-lightgrey
{   
  background: rgb(170, 170, 170);
}

.bg-white
{   
  background: rgb(255, 255, 255);
}

.bg-lightcyan
{   
  background: rgb(85, 255, 255); 
}

.bg-lightgreen
{   
  background: rgb(85, 255, 85);
}

.bg-lightpink
{   
  background: rgb(255, 85, 255); 
}

.bg-lightblue
{   
  background: rgb(85, 85, 255); 
}

.bg-lightred
{   
  background: rgb(255, 85, 85); 
}

.black
{   
  color: #000000 !important;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.40) !important;
}


.blue
{   
  color: rgb(0, 0, 170) !important;
  text-shadow: 1px 1px 10px rgba(0, 0, 170, 0.40) !important;
}

.green
{    
  color: rgb(85, 255, 85) !important;
  text-shadow: 1px 1px 10px rgba(0, 170, 0, 0.40) !important;
}

.green:hover
{   
  color: rgb(255, 255, 255) !important;
  text-shadow: 1px 1px 10px rgba(85, 255, 85, 0.40) !important;
}


.cyan
{   
  color: rgb(0, 187, 187) !important;
  text-shadow: 1px 1px 10px rgba(0, 187, 187, 0.40) !important;
}

a.cyan:hover{
  color: white !important;
}

.red
{   
  color: #aa0000 !important;
  text-shadow: 1px 1px 10px rgba(170, 0, 0, 0.40) !important;
}

.magenta
{   
  color: rgb(255, 85, 255) !important; 
  text-shadow: 1px 1px 10px rgba(85, 85, 85, 0.40) !important;
}

.magenta:hover
{   
  color: rgb(255, 255, 255) !important;
  text-shadow: 1px 1px 10px rgba(85, 85, 85, 0.40) !important;
}

.pink
{   
  color: #bb00bb !important;
  text-shadow: 1px 1px 10px rgba(85, 85, 85, 0.40) !important;
}

.pink
{   
  color: #bb00bb !important;
  text-shadow: 1px 1px 10px rgba(85, 85, 85, 0.40) !important;
}

.pink:hover{
  color: rgb(255, 255, 255) !important;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.40) !important;
}

.brown
{   
  color: #aa5500 !important;
  text-shadow: 1px 1px 10px rgba(170, 85, 0, 0.40) !important;
}


.grey
{   
  color: rgb(85, 85, 85) !important;
  text-shadow: 1px 1px 10px rgba(85, 85, 85, 0.40) !important;
}         


.lightgrey
{   
  color: rgb(170, 170, 170) !important;
  text-shadow: 1px 1px 10px rgba(170, 170, 170, 0.40) !important;
}


.white
{   
  color: rgb(255, 255, 255) !important;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.40) !important;
}

.lightcyan
{   
  color: rgb(85, 255, 255) !important;
  text-shadow: 1px 1px 10px rgba(85, 255, 255, 0.40) !important;
}

.lightgreen
{   
  color: rgb(85, 255, 85) !important;
  text-shadow: 1px 1px 10px rgba(85, 255, 85, 0.40) !important;
}


.lightpink
{   
  color: rgb(255, 85, 255) !important;
  text-shadow: 1px 1px 10px rgba(255, 85, 255, 0.40) !important;
}

.lightblue
{   
  color: rgb(85, 85, 255) !important;
  text-shadow: 1px 1px 10px rgba(85, 85, 255, 0.40) !important;
}


.lightred
{   
  color: rgb(255, 85, 85) !important;
  text-shadow: 1px 1px 10px rgba(255, 85, 85, 0.40) !important;
}

a.nav-link{
  margin-top: 0px !important;
  color: #aaa !important;
}

a.nav-link:hover{
  margin-top: 0px !important;
  color: #aaa !important;
}

a.nav-link:active{
  margin-top: 0px !important;
  color: #aaa !important;
}

a.nav-link:focus{
  margin-top: 0px !important;
  color: #aaa !important;
}

a.dropdown-item:hover{
  color: #aaa !important;
}

a.dropdown-item:active{
  color: #aaa !important;
}

a.dropdown-item:focus{
  color: #aaa !important;
}

a:hover{
  background: transparent;
  color: #ffffff;
  /*  margin-left: 8px; */
}

a.arena:hover::before{
  content: ">";
}

a.grey
{   
  color: rgb(85, 85, 85) !important;
  text-shadow: 1px 1px 10px rgba(85, 85, 85, 0.40) !important;
}

a.yellow
{   
  color: rgb(255,255,85) !important;
  text-shadow: 1px 1px 10px rgba(255, 255, 85, 0.40) !important;
}

.yellow
{   
  color: rgb(255,255,85) !important;
  text-shadow: 1px 1px 10px rgba(255, 255, 85, 0.40) !important;
}

.yellow:hover
{   
  color: #ffffff !important;
  text-shadow: 1px 1px 10px rgba(255, 255, 85, 0.40) !important;
}

.bg-primary {
  background-color: #111111 !important;
}

.bg-secondary {
  background-color: #1a1a1a !important;
}

.bg-header {
  background-color: #444444 !important;
}

.bg-menu {
  background-color: #aaaaaa !important;
}

#exampleInputFile{
  background: blue !important;
  color: white !important;
}

select.form-control {
  background: #bbb;
  border: 0;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 8px !important;
  box-shadow: none;
  margin-top: 16px;
  color: #000;
  width: initial;
  display: initial;
}

.scroll-background{
  position:fixed;
  background: url(/assets/data/bg.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}

.overlay {
  width : 100vw;
  height : 100vh;
  position : fixed;
  left : 0;
  top : 0;
/*  margin-left : -500px;
margin-top : -300px; */
border-radius : 20px;
z-index : 99999;
pointer-events: none;
}
.overlay:before {
  content : '';
  position : absolute;
  top : 0px;
  left : 0px;
  width : 100vw;
  height : 50px;

  background : #fff;
  background: -moz-linear-gradient(top, rgba(255,0,0,0) 0%, rgba(255,250,250,1) 50%, rgba(255,255,255,0.98) 51%, rgba(255,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,0)), color-stop(50%,rgba(255,250,250,1)), color-stop(51%,rgba(255,255,255,0.98)), color-stop(100%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255,250,250,1) 50%,rgba(255,255,255,0.98) 51%,rgba(255,0,0,0) 100%); /* W3C */
  opacity : .02;

  -webkit-transform-origin : 50% 50%;
  -webkit-transform: perspective(1000px) skewX(3deg);

  -webkit-animation: vline 10s linear infinite;
  -moz-animation: vline 10s linear infinite;
  -ms-animation: vline 10s linear infinite;
  animation: vline 10s linear infinite;
}
.overlay:after {
  content : '';
  position : absolute;
  top : -5px;
  left : -5px;
  width : 100vw;
  height : 100vh;
  box-shadow: 0 2px 6px rgba(100,100,100,0.2),
  inset 0 1px rgba(200,200,200,0.1),
  inset 0 10px rgba(200,200,200,0.05),
  inset 0 10px 20px rgba(255,255,255,0.05),
  inset 0 -15px 30px rgba(100,100,100,0.1);

}

.vignette{
  background: radial-gradient( circle, transparent 50%, black 150%);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 99999;
  pointer-events: none;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes blink{
  50% { opacity: 0; }
  90% { opacity: 1; color #fff; }
}

.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('/assets/data/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: 0.7;
  visibility: visible;
  z-index: 99999;
  pointer-events: none;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

.scanlines {
  background: url(/assets/data/crtoverlay_test2.png);
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  opacity: 0.5;
}
.scanlines_old {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 50%,
    rgba(0,0,0,0.5) 70%,
    rgba(0,0,0,0.5)
    );
  background-size: 100% 2px;
  position: fixed;
  z-index: 999999;
  pointer-events: none;
}


@-webkit-keyframes shifter {
  0%   {text-shadow : 0px 0px 1px rgba(10, 255, 10, .2); }
  8%   {}
  15%  {text-shadow : 0px 0px 2px rgba(100, 0, 100, .3); }
  30%  {}
  100% {text-shadow : 1px 0px 1px rgba(100, 255, 100, 1); }
}
@-moz-keyframes shifter {
  0%   {text-shadow : 0px 0px 1px rgba(10, 255, 10, .2); }
  8%   {}
  15%  {text-shadow : 0px 0px 2px rgba(100, 0, 100, .3); }
  30%  {}
  100% {text-shadow : 1px 0px 1px rgba(100, 255, 100, 1); }
}
@-ms-keyframes shifter {
  0%   {text-shadow : 0px 0px 1px rgba(10, 255, 10, .2); }
  8%   {}
  15%  {text-shadow : 0px 0px 2px rgba(100, 0, 100, .3); }
  30%  {}
  100% {text-shadow : 1px 0px 1px rgba(100, 255, 100, 1); }
}

@-webkit-keyframes vline {
  0%   { top: 0px;}
  100% { top: 100%;}
}
@-moz-keyframes vline {
  0%   { top: 0px;}
  100% { top: 100%;}
}
@-ms-keyframes vline {
  0%   { top: 0px;}
  100% { top: 100%;}
}


textarea.fig-txt{
  border: 0 !important;
  margin: 0px !important;
  resize: none !important;
  padding: 16px !important;
  background: #2a2a2a !important;
}

.fig-opt-entry {
  margin-left: 0;
  margin-right: 0;
  margin-top: 16px !important;
  padding: 0;
}

.fig-txt {
  height:250px;
  width:100%;
  box-sizing:border-box;
  color: #999999;
  background: #2a2a2a !important;
}

.fig-test-txt {
  width:100%;
  box-sizing:border-box;
  border: 0 !important;
  margin: 0 !important;
  resize: none !important;
  padding: 16px !important;
  background: #111111;
  margin-top: 16px !important;
  color: #999999;
}

.fig-test-output {
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
  background-color: #1a1a1a;
  border: none;
  margin: 0;
  padding: 0;
  min-height:200px;
  width:100%;
  box-sizing:border-box;
  white-space:pre;
  overflow:auto;
  padding: 16px;
}

#outputFigDisplay{
  width: 672px !important;
  height: 512px !important;
  margin: auto;
}

.ng-scope{
  background: #1a1a1a;
  padding-left: 0px !important;
  padding-right: 0px !important; 
}

input.form-control {
  padding: 0px;
  background: #2a2a2a !important;
  color: #eeee44 !important;
}

input.form-control:active {
  padding: 0px;
  background: #2a2a2a !important;
  color: #eeee44 !important;
}

input.form-control:focus {
  padding: 0px;
  background: #2a2a2a !important;
  color: #eeee44 !important;
}

input.form-control::placeholder {
  padding: 0px;
  background: #2a2a2a !important;
  color: #999999 !important;
}

.form-group{
  padding-bottom: 16px;
}

button.btn.btn-secondary{
  margin-right: 8px !important;
  height: 16px;
}

button.btn.btn-primary{
  margin-right: 8px !important;
  height: 16px;
  padding-top: 1px;
}


.btn-big{
  height: 48px;
  max-height: 48px !important;
  min-height: 48px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.dropdown-menu {
  position: absolute !important;
  /*  top: 100%; */
  left: 0px;
  display: none;
  float: left;
  color: #111111;
  text-align: left;
  list-style: none;
  /*  background-color: red; */
  background-clip: unset;
  border: 2px solid black;
  padding: 4px;
  margin: 0px;
  box-shadow: none;
  -webkit-filter: none;
  filter: none;
}

.dropdown-menu-right {
  background: #bbbbbb !important;
}

.dropdown-divider {
  height: 4px;
  overflow: hidden;
  border: none;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

input[type=text]{
  color: #999999;
}


.ap-1 { 
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.am-1 { 
  margin-left-left: 8px !important;
  margin-right: 8px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.apt-1 { 
  padding-top: 16px !important;
}

.amt-1 { 
  margin-top: 16px !important;
}

.apl-1 { 
  padding-left: 8px !important;
}

.apr-1 { 
  padding-right: 8px !important;
}

.apb-1 { 
  padding-bottom: 16px !important;
}

.apb-2 { 
  padding-bottom: 32px !important;
}

.amb-1 { 
  margin-bottom: 16px !important;
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
 animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}


.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.custom-switch {
  padding-left: 32px;
}

.custom-switch .custom-control-label {
  color: #999999 !important;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.custom-switch .custom-control-label::before {
  left: -32px;
  width: 16px;
  pointer-events: all;
  height: 16px !important;
  background: #2a2a2a !important;
  margin: 0px !important;
  padding: 0px !important;
  color: #999999;
}

.custom-switch .custom-control-label::after {
  margin-top: -3px !important;
  left: -32px;
  width: 8px!important;
  height: 16px !important;
  content: '\2589';
  font-size: 15px !important;
  color: white !important;
  padding-left: 0px;

}

.custom-switch .custom-control-input:checked ~ .custom-control-label {
  color: white !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  margin-top: -3px !important;
  content: '\2589';
  padding-left: 9px;
  color: white !important;
  font-size: 15px !important;
}

.logoswitcher{
  overflow: hidden !important;
}

@media (orientation:landscape) {
  .hide-on-landscape {
    display: none;
  }
}
@media (orientation:portrait) {
  .hide-on-portrait {
    display: none;
  }
}

.jump {
  animation: jump 1s 6s forwards cubic-bezier(.84,-0.54,.31,1.19);
}

.waggle {
  animation: waggle 1s 1s forwards ease-out;
}

@keyframes jump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-2em);
  }
}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  60% {
    transform: rotateZ(25deg) scale(1.2);
  }
  67.5% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  75% {
    transform: rotateZ(15deg) scale(1.2);
  }
  82.5% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  85% {
    transform: rotateZ(0) scale(1.2);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

.show{
  display: inline-block !important;
}

.collapse{
  display: none;
}

.dropup, .dropright, .dropdown, .dropleft {
  line-height: 14px;
  height: 16px;
}

.alert {
  padding: 0 8px 16px;
  font-size: 16px !important;
}

.alert-dismissible .close {
  font-size: 16px !important;
  font-family: 'TopazPlus_a1200' !important;
}

.fullscreen{
  position: absolute !important;
  top:0;
  font-size: 32px !important;
  line-height: 32px !important;
  z-index: 999998 !important;  
}

#blacker{
  position: fixed !important;
  background-color: #000000;
  width: 100vw !important;
  height: 100vh !important;
  top:0 !important;
  left:0 !important;
  z-index: 999997 !important;
  display: none ;
}

.show{
  display: block !important;
}

.btn-primary.disabled{
  color: #999999 !important;
  pointer-events: none;
}

.btn-big.disabled{
  color: #999999 !important;
  pointer-events: none;
}

a.disabled{
  color: #999999 !important;
  pointer-events: none;
}

.noevents{
 pointer-events: none;
}

.spotclose
{
  position: fixed;
  background-color: #000000;
  border: 2px solid #999999;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  top:40px !important;
  right:40px !important; 
  z-index: 999999 !important;
  font-family: TopazPlus_a1200, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  font-smooth: never !important;
  -webkit-font-smooth : none !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: none !important;
  font-smoothing: none !important;
  padding-top: 5px;
  padding-left: 11px;
  display: none;
}


.spotclose:hover, .spotclosebutton:focus {
  animation: boing 300ms ease-in-out;
  color: #fff;
  cursor: pointer;
}

@keyframes boing {
  15%, 40%, 75%, 100% {
    transform-origin: center center;
  }
  15% {
    transform: scale(1.2, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  75% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.modal-title {
  line-height: 16px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.95;
  pointer-events: none;
}


.modal-body{
  padding: 16px 16px;
}

.modal-content {
  /*  min-width: 500px; */
}

.modal-dialog {
  position: relative;
  /*  width: 500px; */
  pointer-events: none;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
/*
.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  -webkit-filter: drop-shadow(7px 8px 0 black);
  filter: drop-shadow(7px 8px 0 black);
  margin: auto;
}
*/

/*
.modal.fade{
  opacity:1
}
.modal.fade .modal-dialog{
  -webkit-transform:translate(0);-moz-transform:translate(0);transform:translate(0)
}
*/
/*
.modal .modal-dialog {
 -webkit-transform: translate(0);
 -moz-transform: translate(0);
 transform: translate(0);
}
*/
.navbar-toggler-icon {
  display: block;
  width: 16px !important;
  height: 16px !important;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler {
  outline: 0;
  background: transparent;
  height: 16px !important;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 15px !important;
  position: fixed;
  right: 42px;
  top: -4px;
  color: white;
}




.navbar-toggler:focus{
  outline:0;
  color: white !important;
}

.navbar-toggler:hover{
  outline:0;
  color: white !important;
}

.navbar-toggler {
  outline: 0;
  background: transparent;
  height: 16px !important;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 15px !important;
  position: absolute;
  right: 8px;
  top: 6px;
  color: white;
}

.navbar-collapse {
  background: transparent !important;
}
.navbar-nav {
  background: none;
  margin-left: -112px;
}

.dropdown-menu-fix {
  right: 0 !important;
  left: auto !important;
  background: #bbbbbb !important;
}

@media only screen and (max-width: 959px) {
  .show{
    border: 0;
  }
  .dropdown-item {
    margin-left: 12px;
  }

  .navbar-collapse {
    background: #bbbbbb;
  }
  .navbar-nav {
    background: #bbbbbb !important;
    margin: 0px;
    margin-top: 5px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .nav-item{
    background: #bbbbbb;
  }
  .dropdown-item {
    z-index: 999999;
  }
  .dropdown-menu {
    position: absolute !important;
    width: 100%;
  }

  .nav-link {
    color: black;
  }
  
  .nav-link .dropdown-toggle{
    color: black;
  }
  .nav-link .dropdown-toggle:hover{
  }
  .nav-link .dropdown-toggle:focus{
    color: white !important;
  }
  .nav-link .dropdown-toggle:focus-within{
    color: green;
  }
  .dropdown-divider {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 8px;
    color: black !important;
  }
}

@media only screen and (max-width: 960px) {
  .mobile-bg{
    background-color: #1a1a1a !important;
  }
}

.nav-tabs {
  height: 16px;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 0;
  margin-bottom: 0px;
}

.nav-tabs .nav-link {
  border: 0;
  margin-top: 16px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-left: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 0;
  background-color: #1a1a1a !important;
  border-bottom: 0;
  color: #eeee44 !important;
  height: 16px !important;
}

.nav-tabs .nav-link:focus {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link:focus-within {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link:active {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link:hover {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link a:focus {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link a:focus-within {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link a:active {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.nav-tabs .nav-link a:hover {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
}

.navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 8px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 8px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 8px;
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 8px;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 8px;
}
body > div.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-white > span
{
  color: #000000 !important; 
  line-height: 20px;
  font-size: 16px;
}


.dropdown-item {
  padding: 0 0;
  color: #000;
  font-size: 16px !important;
  line-height: 16px !important;
  display: flex;
}

.dropdown-item:hover {
  background: #111;
  color: #fff;
}

.dropdown-toggle{
  padding-top: 1px;
}

.dropdown-toggle::after {
  position: relative;
  top: -3px;
}

.fig-opt-label{
  width: 100%;
}

.ng-pristine
{
  width: 100%;
}


/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 16px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  z-index: 99999;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 16px;
  z-index: 99999;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 0px 0px;
  border: 0px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  height: initial !important;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #444444;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding-left: 16px;
  padding-right: 16px;
}

div.select-items > div:last-child{
  padding-bottom: 16px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.widget{
  background: #1a1a1a;
}

form{
  display: initial !important;
}

@media only screen and (min-width:959px){
  .menu-right{
    position: absolute; 
    right: 0px;
  }
  a.nav-link:hover {
    color: white !important;
  }
}

.select2{
  width: 100% !important;
}

span.select2-selection__arrow > b::before{
 display: none;
}

span.select2-selection__arrow > b::after{
 display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 16px !important;
  top: -0px !important;
  border-color: #fff transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent !important;
  border-width: 0 4px 5px 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent !important;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
}

.select2-results__option {
  padding: 8px;
  background: #1a1a1a !important;
}

li.select2-results__option.select2-results__option--highlighted{
  background-color: #000084 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff !important;
  line-height: 16px !important;
}

.select2-container .select2-selection--single {
  height: 16px !important;
}


.select2-container--default .select2-selection--single {
  background-color: #444 !important;
  border: none !important;
  border-radius: 0px !important;
}

select2-dropdown {
  background-color: #444 !important;
}

.select2-search--dropdown {
  padding: 0px !important;
}

b::before, b::after, strong::before, strong::after {
  content: '';
}